app = 'anime-opening-quiz'
primary_region = 'gru'

[build]

[env]
  PLAYERS_SCORE_CSV = '/data/players-score.csv'
  PORT = '8080'
  ROOM_IDLE_MINUTES = '5'
  YOUTUBE_CACHE_CSV = '/data/openings.csv'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    grace_period = '10s'
    interval = '15s'
    method = 'GET'
    path = '/api/health'
    timeout = '5s'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
